.rootColour{
    -fx-background-color: linear-gradient( to right top,#40c9ff, #e81cff);
    -fx-background-radius: 0 100px 100px 0px;
}

.mainAncorPane{
    -fx-background-color: linear-gradient( to right top,#696eff, #f8acff);
}
.datepicker {
    -fx-background-color: transparent;
}
.datepicker > .date-picker-calendar > .calendar-grid > .calendar-cell {
    -fx-border-color: lightgray; /* Add a light border for cell outlines */
}

.overlay {
    -fx-background-color: rgba(220, 0, 253, 0.25);
    -fx-background-radius: 50px 50px 50px 50px;
}
.button1{
    -fx-background-color: linear-gradient( to right top,#5ab2f7, #12cff3);
}


.text-field1{
    -fx-prompt-text-fill: black;
}