.rootColour{
    -fx-background-color: linear-gradient( to right top,#40c9ff, #e81cff);
    -fx-background-radius: 0 100px 20px 20px;
}
.mainAncorPane{
    -fx-background-color: linear-gradient( to right top,#40c9ff, #e81cff);
    -fx-background-radius: 10px 10px 10px;
}
.textFilds{
    -fx-padding: 10 20 10px 10px;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: white;

}

.buttonSignUp{
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-border-width: 1px;
    -fx-border-color: white;

}